body{
  background-color: #E8CD83;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

#menu-bar {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 5px;
  /*height: 40px;*/
  /*line-height: 100%;*/
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #8B8B8B;
  background: linear-gradient(top,  #A9A9A9,  #7A7A7A);
  background: -ms-linear-gradient(top,  #A9A9A9,  #7A7A7A);
  background: -webkit-gradient(linear, left top, left bottom, from(#F67A0B), to(#8A5729));
  background: -moz-linear-gradient(top,  #A9A9A9,  #7A7A7A);
  border: solid 1px #6D402D;
  position:relative;
  z-index:999;

 /* float: right;*/
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 20px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #0399D4;
  background: linear-gradient(top,  #917361,  #663F12);
  background: -ms-linear-gradient(top,  #917361,  #663F12);
  background: -webkit-gradient(linear, left top, left bottom, from(#917361), to(#663F12));
  background: -moz-linear-gradient(top,  #917361,  #663F12);
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}


/*cards*/


/**{box-sizing: border-box;}*/

.cakes {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1400px;
}

.product-wrap {
  width: 33%;
  text-align: center;
  background: white; 
  margin:15px;
   -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  background-size:contain;
  }

.product-image {
  position: relative;
}
.product-image a {display: block; }
.product-image img {
  /*display: block;*/
  width: 400px;
  height: 250px;
}
.product-wrap:hover img {
    transform: scale(1.1); 
    transition: .5s ease-in-out;
    border-radius: 5%;
   }

.shadow {
  position: absolute;
  left: 0;  
  top: 0;  
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.1);  
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.product-wrap:hover .shadow {opacity: .9;}
.actions {
  bottom: 15px; 
  right: 15px; 
  position: absolute;

}
.add-to-cart { 
  opacity: 0; 
  visibility: hidden;
  transform: translate(0,-50px);
  transition: 1s ease-in-out; 
}
.actions a {
  background: #202020;
  color: white;
  display: block;
  height: 36px;
  line-height: 36px;
  width: 42px;
  transition: .3s ease-in-out; 
  text-decoration: none;
}
.actions a:before {
  font-family: FontAwesome;
  font-size: 14px;
  font-weight:900;
}
/*.add-to-cart-button:before {content: "\f42c"; }*/
/*.add-to-wishlist-button:before {content: "\f004";}*/
/*.add-to-compare-button:before{content: "\f079";}
.quikview-button:before {content: "\f002";}*/
.actions a:hover {background: #67BFA6;}
.product-wrap:hover .add-to-cart {
  opacity: 1;
  visibility: visible;
  transform: translate(0,0);
}
.add-to-wishlist {
  opacity: 0;
  visibility: hidden;
  transform: translate(0,-50px);
  transition: .8s ease-in-out;
  margin: 9px 0 0;
}
.product-wrap:hover .add-to-wishlist, .product-wrap:hover .add-to-compare, .product-wrap:hover .quikview {
  opacity: 1;
  visibility: visible;
  transform: translate(0,0);
}
.add-to-compare {
  opacity: 0;
  position: relative;
  visibility: hidden;
  transition: .6s ease-in-out;
  transform: translate(0,-50px);
  margin: 9px 0 0;
}
.quikview {
  opacity: 0;
  visibility: hidden;
  transition: .4s ease-in-out;
  transform: translate(0,-50px);
  margin: 9px 0 0;
}
.product-list {
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Open Sans', serif;
}
.product-list h3 {
  color: #555;
  font-size: 15px;
  font-family: 'Open Sans', serif;
}
.price {
  font-weight: bold;
  font-size: 16px;
  color: #ff7659;
}

.cakepieces {
  margin:20px 5px 20px 5px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }

.card-img-top {
  width: 300px; 
  height: 300px; 
  object-fit: cover;
  overflow: hidden; 
}

